.wrap_create__post
    display: flex
    flex-direction: column
    align-items: center
    align-content: center
    margin-top: -170px

.create__post_text, .create__post_button
    margin: 5px 0
    box-sizing: border-box
    width: 240px
    height: 30px

.create_input
    margin: 10px


.div_post_description
    margin-top: 10px
    width: 250px
    display: flex
    justify-content: space-between
    align-items: center
    align-content: center

.modal_post_description
    margin-top: 10px
    width: 500px
    display: flex
    justify-content: space-between
    align-items: center
    align-content: center

.user_description_post
    border: none
    font-size: 18px
    font-family: -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Helvetica', 'Arial', sans-serif

.post__description_button
    width: 25px
    height: 25px
    border-radius: 50%
    border: #b0b0b0 0.2px solid
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    background: #f9e24d
.post__description_button:hover
    background: #f6c900

.post__description_input
    margin-left: 20px
    border: #dddddd 0.2px solid

.span_post_description
    font-size: 12px
    font-weight: 600
    padding-bottom: 5px

.btn:focus 
  outline: none


.green
  color: green


.red
  color: red
