.header {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 100%;
  border-right: 1px solid #e6e6e6;
  margin-left: 20px;
}

.header__nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 220px;
}

.header__button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  margin: 16px 0;
}

.header__button_last {
  margin-top: 45px;
}

.nav__span_main::before {
  background-image: url("./img/main-page.png");
}

.nav__span_search::before {
  background-image: url("./img/serch.png");
}

.nav__span_interesting::before {
  background-image: url("./img/all-post.png");
}

.nav__span_messages::before {
  background-image: url("./img/massenge.png");
}

.nav__span_reels::before {
  background-image: url("./img/video.png");
}

.nav__span_notification::before {
  background-image: url("./img/like.png");
}

.nav__span_create::before {
  background-image: url("./img/create-post.png");
}

.nav__span_more::before {
  background-image: url("./img/menu-burger.png");
}

.nav__span::before {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background-size: 100%;
  content: "";
}

.nav__span_profile::before {
  margin-right: 0;
  width: 0px;
  height: 0px;
  content: "";
}

.nav__span_profile {
  margin-left: 13px;
}

.header_user_avatar {
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
  border-radius: 50%;
}

.nav__span {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.nav__span:hover {
  font-size: 18.3px;
}